*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-black: #334;
  --color-white: whitesmoke;
  --color-accent: burlywood;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

#title {
  padding: 30px;
  font-size: 48px;
}

#buttons {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 30px;
}

.btn {
  padding: 7.5px 20px;
  background-color: whitesmoke;
  border-radius: 5px;
  border: 3px solid var(--color-black);
  transition: transform ease-in-out 0.15s;
}

.btn:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: var(--color-black);
  color: var(--color-white);
}

.btn--active {
  background-color: var(--color-black);
  border-color: var(--color-black);
  color: var(--color-white);
  font-weight: bold;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* max-width: 720px; */
  /* width: 100%; */
  /* max-height: 720px; */
  outline: var(--color-black) 10px solid;
}

.grid__square {
  border: 1px solid var(--color-black);
}

.hover {
  /* background-color: var(--color-accent); */
}
